@model Game

@{
    ViewBag.Title = "Blackjack";
}

<style>
    .hand-heading {
        color: white;
    }

    .submit-button {
        background-color: gray;
        color: white;
    }
</style>

<hand-heading name="Dealer"
              class="hand-heading"
              total="@Model.Dealer.MustShowCards ?
                      Model.Dealer.Hand.Total : 0">
</hand-heading>

<vc:show-hand-images hand="@Model.Dealer.Hand">
</vc:show-hand-images>

<hand-heading name="Player"
              class="hand-heading"
              total="@Model.Player.Hand.HasCards ?
                      Model.Player.Hand.Total : 0">
</hand-heading>

<vc:show-hand-images hand="@Model.Player.Hand">
</vc:show-hand-images>

<div class="row mb-2">
    <div class="col-2 offset-3">
        <submit-button action="Deal" class="submit-button" disabled="@(!Model.NeedsDeal)">
        </submit-button>
    </div>
    <div class="col-2">
        <submit-button action="Hit" class="submit-button" disabled="@(Model.NeedsDeal)">
        </submit-button>
    </div>
    <div class="col-2">
        <submit-button action="Stand" class="submit-button" disabled="@(Model.NeedsDeal)">
        </submit-button>
    </div>
</div>

<footer>
    <vc:current-winnings></vc:current-winnings>
</footer>

<div style="position: fixed; top: 10px; left: 10px;">
    <a href="@Url.Action("Index", "Home")" class=" btn btn-secondary btn-lg btn-block">Главное меню</a>
</div>
